em{
  font-style: italic;
}

cite{
  font-style: italic;
  float: right;
}

.comment{
  background-color: #D9E5E3; /*Cor de fundo*/
  border: .5em solid #C2CCCA; /*Espessura da borda, tipo e cor*/
  width: 30ch; /*Define a lagura do elemento*/
  padding: 1em; /*Define a paginação a partir no tamanho do pai*/
  margin: 1em 2em; /*Margem altura e lagura*/
  box-sizing: border-box; /*Fala para contar o tamanho do elemento com a barda*/
}

/*solução com id*/
/* #fiat{
  float: right; /*Flutuar a direita*/
/* } */

/* #petrobras{
  float: left; /*Flutuar a esquerda*/
/* }  */


/*Solução com pseudoclasses*/
.comment:nth-of-type(odd){
  float: right; /*Flutuar a direita*/
}

.comment:nth-of-type(even){
  float: left; /*Flutuar a esquerda*/
}

.comment:nth-of-type(odd):hover, .comment:nth-of-type(odd):focus{
  transform: scale(1.2) rotate(10deg);
  box-shadow: 0 0 0 99999px rgba(0, 0, 0,.8);
}

.comment:nth-of-type(even):hover, .comment:nth-of-type(even):focus{
  transform: rotate(-10deg) scale(1.2);
  box-shadow: 0 0 0 99999px rgba(0, 0, 0,.8);
}
