em{
  font-style: italic;
}

cite{
  font-style: italic;
  float: right;
}

.container > p::first-letter{
  font-size: 200%;
  font-weight: bold;
  color: #3C1D3D;
  text-shadow: 1px 1px #000;
  margin-right: .2ch;
  line-height: 1;
}

.comment{
  background-color: #D9E5E3; /*Cor de fundo*/
  border: .5em solid #C2CCCA; /*Espessura da borda, tipo e cor*/
  width: 30ch; /*Define a lagura do elemento*/
  padding: 1em; /*Define a paginação a partir no tamanho do pai*/
  margin: 1em 2em; /*Margem altura e lagura*/
  box-sizing: border-box; /*Fala para contar o tamanho do elemento com a barda*/
  transition: box-shadow 1s, transform 1s;
  transition-delay: 1s, 0s;
}

.comment:hover, .comment:focus{
  transition-delay: 0s, 1s;
}

.comment::before{
  content: '"';
  color: #bbb;
  font-size: 10em;
  position: absolute;
  line-height: .8;
}

.comment > p {
  position: relative;
}

/*solução com id*/
/* #fiat{
  float: right; /*Flutuar a direita*/
/* } */

/* #petrobras{
  float: left; /*Flutuar a esquerda*/
/* }  */


/*Solução com pseudoclasses*/
.comment:nth-of-type(odd){
  float: right; /*Flutuar a direita*/
}

.comment:nth-of-type(even){
  float: left; /*Flutuar a esquerda*/
}

.comment:nth-of-type(odd):hover, .comment:nth-of-type(odd):focus{
  transform: scale(1.2) rotate(10deg);
  box-shadow: 0 0 0 99999px rgba(0, 0, 0,.8);
}

.comment:nth-of-type(even):hover, .comment:nth-of-type(even):focus{
  transform: rotate(-10deg) scale(1.2);
  box-shadow: 0 0 0 99999px rgba(0, 0, 0,.8);
}


.habilidades{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-collapse: separate;
  border-spacing: 0.25em;
}

thead th{
  background-color: #3C1D3D;
  color: #FFF;
  font-weight: bold;
  padding: .5em;
}

tbody th{
  background-color: #851944;
  color: #FFF;
  font-weight: bold;
  padding: .5em;
}

tbody td{
  text-align: left;
  background-color: #EEE;
  padding: .5em;
}

.habilidades [colspan] {
  text-align: center;
  font-style: italic;
}

.habilidades [rowspan] {
  vertical-align: middle;
}