.artigo{
  padding-bottom: 30px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

.read-more{
  font-size: 120%;
  padding: 8px;
  margin: 16px;
  text-align: center;
  display: block; /*Somente esse elemento na linha "Empilhado"*/
  background-color: #E6E7E8;
}
