main{
  float: left; /*Joga a Main para a esquerda*/
  padding-bottom: 80px; /*Define um espaçamento embaixo dentro do elemento*/
  width: 85%; /*Define o tamaho da Página a 85%*/
}

body{
  font-family: "Crimson Text", serif; /*Define a fonte e definindo uma fonte serifada*/
  background-color: #F2FFFC; /*Cor de fundo*/
  font-size: 120%; /*Tamanho da fonte*/
  line-height: 30px; /*Espaçamento entre as linhas*/
}

h1,h2{
  font-family: "Open Sans Condensed", sans-serif; /*Define a fonte e definindo uma fonte sem serifa*/
}

h2{
  font-size: 30px;/*Tamanho da fonte*/
  clear: both; /*Nenhum float a direita ou a esquerda*/
}

p{
  text-align: justify;
  margin: 20px 0px;
}

main a{
    color: #851944;
}

aside{
  float: right;
}

aside a {
    color: inherit; /*Faz com que a propriedade assuma o valor que foi definido em seu pai (ou ancestral, de um modo geral)*/
    font-family: "Open Sans Condensed", sans-serif;
    text-decoration: none; /*Tira o Sublinhado do link*/
    text-transform: lowercase; /*Deixa todos Minúsculos*/
}

aside h1{
  font-size: 30px;
  margin-bottom: 25px;
}

blockquote, aside, footer {
    padding: 20px;
}

main div{
  width: 720px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 0;
}

strong{
  font-weight: bold; /*Deixa negrito*/
}

footer{
  clear: both;
  position: fixed; /*Define o elemento como fixo*/
  bottom: 0; /*0 de espaçamento */
  width: 100%; /*na página toda*/
}

.main-title{
  text-align: center;
  font-size: 60px;
  background-color: #851944;
  color: #FFF;
  padding: 25px;
  border-bottom: 10px solid black;
  text-transform: uppercase; /*Deixa todos os caracters Maiúsculo*/
}

.navegacao-site{
  background-color: #3C1D3D;
  color: #F2FFFC;
  padding: 20px;
  text-align: center;
}

.rodape-pagina{
  background-color: #000;
  color: #F2FFFC;
  padding: 20px;
}

.redes-sociais li{
  display: inline-block; /*Perminte definir o tamanho so elemento sem quebrar a linha*/
}

.redes-sociais a{
  width: 40px;
  height: 40px;
  display: inline-block; /*Perminte definir o tamanho so elemento sem quebrar a linha*/
  text-indent: -9999px; /*Tirando o texto da tela deixando somente as imagens "Tecnica Image Replacement"*/
}

.github{
    background-image: url(../img/github.png);
}

.twitter{
    background-image: url(../img/twitter.png);
}

.linkedin{
    background-image: url(../img/linkedin.png);
}

.profile, .navegacao-site{
  float: right;
  box-sizing: border-box;
  border-left: 10px solid black;
  border-bottom: 10px solid black;
}

.navegacao-site{
  width: 15%;
  position: relative; /*Defino como posição Relativa*/
  top: 310px; /*A 310px do topo*/
}

.profile{
  position: absolute; /*Define como posição absoluta*/
  top: 0; /*A 0px de cima*/
  right: 0 /*A 0px da direita*/
}
