main{
  float: left; /*Joga a Main para a esquerda*/
  padding-bottom: 4em; /*Define um espaçamento embaixo dentro do elemento*/
  width: 85%; /*Define o tamaho da Página a 85%*/
}

body{
  font-family: "Crimson Text", serif; /*Define a fonte e definindo uma fonte serifada*/
  background-color: #F2FFFC; /*Cor de fundo*/
  font-size: 120%; /*Tamanho da fonte*/
  line-height: 1.5; /*Espaçamento entre as linhas*/
}

h1, h2, .subtitulo-principal{
  font-family: "Open Sans Condensed", sans-serif; /*Define a fonte e definindo uma fonte sem serifa*/
}

main p{
  text-align: justify;
  margin: 1em 0px;
}

main a{
    color: #851944;
}

aside{
  float: right;
}

blockquote, aside, footer {
    padding: 20px;
}

strong{
  font-weight: bold; /*Deixa negrito*/
}

em{
  font-style: italic; /*Deixa Intálico*/
}

.main-title{
  text-align: center;
  font-size: 3em;
  background-color: #851944;
  color: #FFF;
  padding: 2rem;
  border-bottom: .5rem solid black;
  text-transform: uppercase; /*Deixa todos os caracters Maiúsculo*/
}

.subtitulo-principal{
  font-size: 1rem;
}

.subtitulo-texto{
  font-size: 1.5em;/*Tamanho da fonte*/
  clear: both; /*Nenhum float a direita ou a esquerda*/
}

.rodape-pagina{
  background-color: #000;
  color: #F2FFFC;
  padding: 1em;
  clear: both;
  position: fixed; /*Define o elemento como fixo*/
  bottom: 0; /*0 de espaçamento */
  width: 100%; /*na página toda*/
  box-sizing: border-box;
}

.redes-sociais li{
  display: inline-block; /*Perminte definir o tamanho so elemento sem quebrar a linha*/
}

.redes-sociais a{
  width: 40px;
  height: 40px;
  display: inline-block; /*Perminte definir o tamanho so elemento sem quebrar a linha*/
  text-indent: -9999px; /*Tirando o texto da tela deixando somente as imagens "Tecnica Image Replacement"*/
}

.github{
    background-image: url(../img/github.png);
}

.twitter{
    background-image: url(../img/twitter.png);
}

.linkedin{
    background-image: url(../img/linkedin.png);
}

.navegacao-site{
  background-color: #3C1D3D;
  color: #F2FFFC;
  padding: 1em;
  text-align: center;
}

.navegacao-site{
  width: 15%;
  position: relative; /*Defino como posição Relativa*/
  top: 300px; /*A 300px do topo*/
}

.navegacao-site h1{
  font-size: 1.5em;
  margin-bottom: 1em;
}

.navegacao-site a {
    color: inherit; /*Faz com que a propriedade assuma o valor que foi definido em seu pai (ou ancestral, de um modo geral)*/
    font-family: "Open Sans Condensed", sans-serif;
    text-decoration: none; /*Tira o Sublinhado do link*/
    text-transform: lowercase; /*Deixa todos Minúsculos*/
}

.container {
  width: 80ch;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em 0;
}

.profile, .navegacao-site{
  float: right;
  box-sizing: border-box;
  border-left: .5rem solid black;
  border-bottom: .5rem solid black;
}

.profile{
  position: absolute; /*Define como posição absoluta*/
  top: 0; /*A 0px de cima*/
  right: 0; /*A 0px da direita*/
  height: 300px;
}
