body{
  font-family: "Crimson Text", serif;
  background-color: #F2FFFC;
  font-size: 120%;
  line-height: 30px;
}

h1,h2{
  font-family: "Open Sans Condensed", sans-serif;
}

h2{
  font-size: 30px;
}

main h1{
  text-align: center;
  font-size: 60px;
  background-color: #851944;
  color: #FFF;
  padding: 25px;
  border-bottom: 10px solid black;
}

p{
  text-align: justify;
  margin: 20px 0px;
}

blockquote{
  background-color: #D9E5E3;
  border: 10px solid #C2CCCA;
  width: 250px;
  margin: 20px 40px;
  box-sizing: border-box;
}

aside{
  background-color: #3C1D3D;
  color: #F2FFFC;
  text-align: center;
}

footer{
  background-color: #000;
  color: #F2FFFC;
}

article footer{
  background-color: #F2FFFC;
  color: #000;
}


nav a{
  color: #F2FFFC
}

main a{
    color: #851944;
}

aside a {
    color: inherit;
    font-family: "Open Sans Condensed", sans-serif;
    text-decoration: none;
}
aside h1{
  font-size: 30px;
  margin-bottom: 25px;
}

blockquote, aside, footer {
    padding: 20px;
}

main div{
  width: 720px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 0;
}

strong{
  font-weight: bold;
}

em{
  font-style: italic;
}
